.card {
  display: flex;
  gap: 15px;
}
.card__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #445161;
}
@media (max-width: 440px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
}
