.footer {
  background-color: #f5f5f5;
}
.footer__inner {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  font-family: Arial;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #445162;
}
