.happy-column {
  width: 300px;
  height: 500px;
  background-color: #445162;
  color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.happy-column__title {
  text-align: center;
  font-family: Arial;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.happy-column__main-title {
  font-family: Arial;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #445162;
  background-color: #fff;
  text-align: center;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1px;
}
.happy-column__text {
  margin: 0 20px;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  padding: 20px 0;
}
.happy-column__paragraph + .happy-column__paragraph {
  margin-top: 1em;
}
.happy-column__button {
  background-color: #fff;
  font-family: Arial;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  margin: auto 20px 20px;
  height: 40px;
  border-radius: 8px;
}
