.hello {
  background-color: #445162;
  color: #fff;
}
.hello__inner {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.hello__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.hello__list {
  margin-top: 2em;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 36px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.hello__item {
  padding-left: 29px;
  position: relative;
}

.hello__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  /* TODO: Replace this icon to a vector svg */
  background: center/contain no-repeat url("../assets/check.png");
  width: 25px;
  height: 19px;
}

.hello__image {
  max-width: 469px;
  background-color: #fff;
}
@media (max-width: 1070px) {
  .hello__image {
    width: 400px;
  }
}

@media (max-width: 1000px) {
  .hello__inner {
    flex-direction: column;
  }
  .hello__image {
    width: 100%;
  }
  .hello__end {
    margin: 0 auto;
  }
}
