.plates {
  background-color: #f5f5f5;
}
.plates__inner {
}
.plates__cards {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.plates__card {
  flex: 1 1 49%;
}
.plates__title {
  text-align: center;
}
@media (max-width: 1150px) {
  .plates__cards {
    flex-direction: column;
  }
  .plates__card {
    flex: 0 1 100%;
  }
  .plates__title {
    text-align: start;
  }
}
