.section {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    background-color: #fff;
  }
  .section__inner {
    padding: 50px 0;
  }
  
  .section__title {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    margin-bottom: 30px;
  }
  .section__paragraph {
    margin-top: 1em;
  }