@import url(happy-column.css);
.vertical__title {
  text-align: center;
}
.vertical__columns {
  display: flex;
  gap: 45px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 745px) {
  .vertical__title {
    text-align: start;
  }
}
