.whats__inner {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.whats__start {
  width: 100%;
}
.whats__image {
  max-width: 430px;
  width: 100%;
  aspect-ratio: 215/137;
}
@media (max-width: 1000px) {
  .whats__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
}
